* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

/* Navar */

.header {
  height: 100vh;
  position: relative;
}

.top {
  background-color: rgba(128, 128, 128, 0.13);
}

.header__logo {
  align-items: center;
  display: flex;
}

.header__logo img {
  height: 70px;
  width: 70px;
}

.link__item {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-left: 1.5rem;
  font-size: 1.5rem;
  position: relative;
}

.link__item:after {
  content: "";
  position: absolute;
  background: #daa520;
  height: 3px;
  width: 0;
  bottom: -7px;
  left: 15px;
  transition: 0.5s;
}

.link__item:hover:after {
  width: 90%;
}

.link__item:hover {
  color: #daa520;
}

.button__menu {
  display: none;
}

/* HOME */

.contenedor {
  width: 75%;
  margin: auto;
  padding: 2rem;
}

.top .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.caja__gif img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.caja__gif::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.493);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.caja__texto {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.caja__texto h3 {
  margin: 0 0 20px;
}

.caja__texto h2 {
  font-size: 4rem;
  text-transform: uppercase;
  word-spacing: 2px;
  letter-spacing: 1px;
  text-align: center;
  padding: 0rem 12rem;
  font-style: italic;
}

.caja__texto h3 {
  font-size: 2rem;
  font-weight: 300px;
  word-spacing: 2px;
  letter-spacing: 1px;
  text-align: center;
  padding: 0rem 8rem;
}

.caja__texto--button {
  border-radius: 3px;
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  background-color: #ffbf00c5;
  color: white;
}

.caja__texto--button:hover {
  translate: 0px 3px;
  transition: 0.5s;
  background-color: #ffbf00;
}

/* SOBRE NOSOTROS */

.nosotros {
  background-color: #1c1c1c;
  height: 70vh;
}

.nosotros__info p {
  width: 50%;
}

.nosotros__img img {
  height: 70vh;
  clip-path: polygon(26% 0, 100% 0, 100% 100%, 0% 100%);
}

.nosotros__contenedor {
  display: flex;
  justify-content: end;
}

.nosotros__info h2 {
  padding-bottom: 2rem;
  font-size: 4rem;
  font-style: italic;
}

.nosotros__info {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffff;
  font-size: 2rem;
  text-align: center;
}

/* CLIENTES SLIDER */

.clientes {
  background-color: #ffbf00;
}
.clientes h2 {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  font-size: 3rem;
}

/* .slider-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #fff;
} */

/* .slider {
  display: flex;
} */

.slider__element {
  padding: 1.5rem 2rem 2.5rem 2rem;
}

.slider__element img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* SERVICIOS */

.servicios__titulo {
  color: #ffff;
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  padding-top: 7rem;
  padding-bottom: 5rem;
  font-size: 3rem;
  font-style: italic;
}

.servicio {
  background-color: #1c1c1c /*#ffbf00*/;
  height: 100vh;
}

.info {
  display: flex;
}

.servicios__container {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 50px 30px;
}

.servicios__card {
  position: relative;
  max-width: 460px;
  height: 360px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 4px;
}

.servicios__card:hover {
  height: 600px;
}

.servicios__card--img {
  position: relative;
  width: 460px;
  height: 260px;
  top: -70px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.servicios__card--img img {
  max-width: 100%;
  border-radius: 6px;
  height: 400px;
  width: 600px;
}

.servicios__card--img:hover {
  transform: translatey(-10px);
  transition: 0.3s ease-in-out;
}

.servicios__card--text {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  font-size: 1.2rem;
}

.servicios__card:hover .servicios__card--text {
  visibility: visible;
  opacity: 1;
  margin-top: 100px;
  transition-delay: 0.2s;
}

.servicios__button {
  border-radius: 3px;
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  background-color: #ffbf00;
  color: black;
  border-style: none;
}

.servicios__button:hover {
  translate: 0px 3px;
  transition: 0.5s;
  background-color: #ffbf00;
}

/* Medias */

@media (max-width: 1440px) {
  .info {
    background-color: #1c1c1c /*#ffbf00*/;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .servicios__container {
    width: auto;
  }

  .nosotros {
    height: 85vh;
    padding-top: 2rem;
  }

  .nosotros__contenedor {
    flex-direction: column;
  }

  .nosotros__info {
    padding-left: 0rem;
    font-size: 1.5rem;
    padding-bottom: 3rem;
  }

  .nosotros__info h2 {
    font-size: 3rem;
  }

  .nosotros__info p {
    width: 70%;
    font-size: 2.5rem;
  }

  .nosotros__img img {
    height: 612px;

    width: 100%;
    clip-path: none;
    object-fit: cover;
  }
}

@media (max-width: 1024px) {
  .info {
    background-color: #1c1c1c /*#ffbf00*/;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .nosotros {
    height: 85vh;
    padding-top: 2rem;
  }

  .nosotros__contenedor {
    flex-direction: column;
  }

  .nosotros__info {
    padding-left: 0rem;
    font-size: 1.5rem;
    padding-bottom: 3rem;
  }

  .nosotros__info h2 {
    font-size: 3rem;
  }

  .nosotros__info p {
    width: 70%;
  }

  .nosotros__img img {
    height: 489px;

    width: 100%;
    clip-path: none;
    object-fit: cover;
  }
}

@media (min-width: 769px) {
  .panel-btn {
    display: none;
  }
}

@media (max-width: 768px) {
  .nosotros {
    height: 85vh;
    padding-top: 2rem;
  }

  .nosotros__contenedor {
    flex-direction: column;
  }

  .nosotros__info {
    padding-left: 0rem;
    font-size: 1.5rem;
    padding-bottom: 3rem;
  }

  .nosotros__info h2 {
    font-size: 3rem;
  }

  .nosotros__info p {
    width: 70%;
  }

  .nosotros__img img {
    height: 431px;
    width: 100%;
    clip-path: none;
    object-fit: cover;
  }

  .panel {
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.822);
    transition: transform 3s ease;
    transform: translate(0, 100%);
  }

  .panel.is-active {
    transform: translate(0, 0);
  }

  .panel-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vh;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: wheat;
  }

  .header__nav {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  .link__item {
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    transition: all 0.3 ease;
  }

  .caja__texto h2 {
    padding: 0rem 6rem;
    font-size: 3rem;
  }

  .caja__texto h3 {
    padding: 0rem 4rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 425px) {
  .caja__texto h2 {
    padding: 0rem 1rem;
    font-size: 2.5rem;
  }

  .caja__texto h3 {
    padding: 0rem 2rem;
    font-size: 1.5rem;
  }
  .nosotros {
    height: 85vh;
    padding-top: 2rem;
  }

  .nosotros__contenedor {
    flex-direction: column;
  }

  .nosotros__info {
    padding-left: 0rem;
    font-size: 1.5rem;
    padding-bottom: 3rem;
  }

  .nosotros__info h2 {
    font-size: 3rem;
  }

  .nosotros__info p {
    width: 70%;
  }

  .nosotros__img img {
    height: 300px;
    width: 100%;
    clip-path: none;
    object-fit: cover;
  }

  .servicios__card {
    max-width: 269px;
    height: 213px;
  }
  .servicios__card--img img {
    height: 250px;
    width: 270px;
  }

  .servicios__card--img {
    width: auto;
  }
  .servicios__card:hover {
    height: 600px;
  }
  .servicios__card:hover .servicios__card--text {
    margin-top: 0px;
  }
  .servicios__titulo {
    font-size: 2rem;
  }
  .clientes h2 {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .nosotros {
    height: 85vh;
    padding-top: 2rem;
  }

  .nosotros__contenedor {
    flex-direction: column;
  }

  .nosotros__info {
    padding-left: 0rem;
    font-size: 1.5rem;
    padding-bottom: 3rem;
  }

  .nosotros__info h2 {
    font-size: 3rem;
  }

  .nosotros__info p {
    width: 70%;
  }

  .nosotros__img img {
    height: 300px;
    width: 100%;
    clip-path: none;
    object-fit: cover;
  }

  .servicios__card {
    max-width: 269px;
    height: 213px;
  }
  .servicios__card--img img {
    height: 250px;
    width: 270px;
  }

  .servicios__card--img {
    width: auto;
  }
  .servicios__card:hover {
    height: 600px;
  }
  .servicios__card:hover .servicios__card--text {
    margin-top: 0px;
  }
  .servicios__titulo {
    font-size: 2rem;
  }
  .clientes h2 {
    font-size: 2rem;
  }
}
